.index {
    position: relative;
    width: 100%;
    height: 100%;
}


/* Header */

.index-header-con {
    box-sizing: border-box;
    position: fixed;
    display: block;
    padding-left: 200px;
    width: 100%;
    height: 100px;
    z-index: 1000;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, .1);
}

.index-header {
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, .1);
    position: relative;
    z-index: 10;
}

.header-avatar-con {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
}


/* user */

.user-dropdown-menu-con {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 100%;
    .main-user-name {
        display: inline-block;
        width: 80px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }
}

.user-dropdown-innercon {
    height: 100%;
    padding-right: 14px;
}

.index-user-name {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}


/* SidebarMenu */

.sidebar-menu {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #495060;
    top: 0;
    left: 0;
    z-index: 1010;
    .logo {
        padding: 8px;
        img {
            width: 100%;
        }
    }
}